* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-container {
  height: 460px;
  /* padding-top: 2px; */
  display: flex;
  position: sticky;
  align-items: center;
  z-index: 99;
  margin: 40px;
  justify-content: center;
}

.hero-img {
  height: 450px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.63;
}

.hero-content {
  z-index: 3;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text {
  color: #283618;
  font-size: 50px;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}
