.service-container {
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #82a3a1;
  padding-top: 23px;
  margin-bottom: 23px;
}

.service-wrapper {
  height: 450px;
  display: flex;
  justify-content: center;
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-cards1 {
  background-color: #006494;
  align-items: center;
  padding: 5px 11px;
  margin: 10px 36px;
  height: 420px;
  width: 200px;
  line-height: 20px;
  justify-content: space-between;
  display: block;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px #808f87;
  border-radius: 20px;
}
.service-cards2 {
  background-color: #afd0bf;
  padding: 5px 11px;
  margin: 10px 36px;
  height: 420px;
  width: 200px;
  line-height: 20px;
  justify-content: space-between;
  display: block;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px #808f87;
  border-radius: 20px;
}
.service-cards3 {
  background-color: #d1ac00;
  padding: 5px 11px;
  margin: 10px 36px;
  height: 400px;
  width: 200px;
  line-height: 20px;
  justify-content: space-between;
  display: block;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px #808f87;
  border-radius: 20px;
}

.price {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.service-h1 {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  /* border-bottom: solid white 1px; */
  /* padding-bottom:  12px; */
}

.service-header {
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}

.map-list {
  color: black;
  padding-left: 12px;
  line-height: 23px;
  text-transform: none;
  display: flex;
}

.map-div {
  display: flex;
}

.hr {
  color: #808f87;
}
