* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.service-container {
  height: 600px;
  /* width: 100%; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: #f2f7f6; */
  padding-top: 23px;
  margin-bottom: 23px;
  margin: 40px;
  border-bottom: solid black 1px;
}

.service-wrapper {
  height: 450px;
  display: flex;
  justify-content: center;
  max-width: 1090px;
  /* width: 100%; */
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-cards1 {
  /* background-color: #edeec9; */
  align-items: center;
  padding: 30px;
  margin: 5px;
  height: 420px;
  width: 350px;
  /* line-height: 20px; */
  /* justify-content: space-between; */
  display: block;
  word-wrap: break-word;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px black;
  /* border-radius: 20px; */
  color: #575366;
}
.service-cards2 {
  /* background-color: #dde7c7; */
  padding: 30px;
  margin: 5px;
  height: 420px;
  width: 350px;
  /* line-height: 20px; */
  /* justify-content: space-between; */
  display: block;
  word-wrap: break-word;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px black;
  /* border-radius: 20px; */
  color: #575366;
}
.service-cards3 {
  /* background-color: #bfd8bd; */
  padding: 30px;
  margin: 5px;
  height: 420px;
  width: 350px;
  /* line-height: 20px; */
  /* justify-content: space-between; */
  display: block;
  word-wrap: break-word;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px black;
  /* border-radius: 20px; */
  color: #575366;
}

.price {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #575366;
}

.service-h1 {
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;

  /* border-bottom: solid white 1px; */
  /* padding-bottom:  12px; */
}

.service-header {
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #575366;
}

.map-list {
  color: 575366;
  padding: 0 12px;
  /* line-height: 23px; */
  text-transform: none;
  display: flex;
  font-size: 16px;
}

.map-div {
  display: flex;
}

.hr {
  color: #283618;
}
