.nav-container {
  height: 110px;
  width: 99%;
  border: black solid 1px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 0 50px;
}

.list-container {
  display: flex;
  border: red solid 1px;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.nav-logo {
  display: flex;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.ul-nav {
  list-style: none;
  display: flex;
  text-decoration: none;

  /* padding: 3px 3px; */
}

.li-nav {
  text-decoration: none;
  justify-content: space-between;
  font-size: 1.3rem;
  text-transform: uppercase;
}
