.nav-container {
  height: 110px;
  /* width: 95%; */
  border-bottom: #d1e3dd solid 1px;
  display: flex;
  justify-content: space-between;
  font-family: "Frank Ruhl Libre", serif;
  padding: 0 50px;
  color: #606c38;
}

.nav-wrapper {
  height: 100px;
  width: 93%;
  display: flex;
  justify-content: space-between;
  font-family: "Frank Ruhl Libre", serif;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.nav-logo {
  display: flex;
  padding-top: 5px;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.ul-nav {
  display: flex;

  /* padding: 3px 3px; */
}

.li-nav {
  text-decoration: none;
  justify-content: space-between;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.nav-a {
  list-style: none;
  text-decoration: none;
  letter-spacing: 4px;
  color: #606c38;
}

.nav-button {
  display: flex;
  height: 30px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: transparent;
  border: none;
  padding-top: 39px;
  word-wrap: break-word;
  display: flex;
  color: #606c38;
  letter-spacing: 4px;
  font-size: 0.9rem;
  font-family: "Frank Ruhl Libre", serif;
  text-transform: uppercase;
}

.button-a {
  /* color: #283618; */
  text-decoration: none;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
